:host {
  text-align: center;
}

.startBtn {
  display: block;
  margin: 0 auto;
}

main {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-gap: 0px;
  justify-content: center;
}

app-square {
  border: 1px gray solid;
  height: 200px;
}
